* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.app-container {
  width: inherit;
  height: inherit;
  overflow: hidden;
}
